ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-weight: bold;
  padding-top: 80px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

.order-form {
  margin: 12px;
  padding: 12px;
  background-color: white;
}
