<section class="form">
  <div class="list-header">
    <h2>商品の詳細</h2>
  </div>
  <article>
    <div>
      <h2>商品名：{{item.name | titlecase}}</h2>
      <span
        (click)="item.isFavo = true"
        *ngIf="!item.isFavo"
      >☆</span>
      <span
        (click)="item.isFavo = false"
        *ngIf="item.isFavo"
      >★</span>
    </div>
    <div>
      <div>
        <app-image
          [item]="item"
          [size]="250"
        ></app-image>
      </div>
      <div>
        <h2>【商品について】</h2>
        <ul>
          <li>商品番号：0000{{item.id}}</li>
          <li>商品価格：{{item.price}}円</li>
          <li>種類：{{item.category}}</li>
          <li>メーカー：{{item.maker.name}}</li>
          <li>在庫：残り<span class="count">{{item.count}}</span>個</li>
        </ul>
      </div>
    </div>

  </article>

  <app-item-detail-button
    [item]="item"
  ></app-item-detail-button>
</section>
