<div class="list-article">
  <app-page-move-button
  (pageMoveEvent)="pageMoveEvent($event)"
  [register]="register"
  ></app-page-move-button>

    <!--登録商品の一覧を表示する場合-->
  <div *ngIf="register">
    <div *ngFor="let Item of registerList">
      <ul *ngIf="Item == registerList[currentPage]">
        <li *ngFor="let item of Item">
          <app-item
            [item]="item"
            [items]="registerList"
            (deleteUpdateItem)="deleteUpdateItem($event)"
            ></app-item>
        </li>
      </ul>
    </div>
  </div>

  <!-- 未登録商品の一覧を表示する場合 -->
  <div *ngIf="!register">
    <div *ngFor="let items of unRegisterList">
      <ul *ngIf="items == unRegisterList[currentPage]">
        <li *ngFor="let item of items">
          <app-item
            [item]="item"
            [items]="unRegisterList"
            (deleteUpdateItem)="deleteUpdateItem($event)"
            ></app-item>
        </li>
      </ul>
    </div>
  </div>
  <app-page-move-button
  (pageMoveEvent)="pageMoveEvent($event)"
  [register]="register"
  ></app-page-move-button>

<!-- 削除した際のモーダルの自動表示・自動非表示 -->
  <app-delete-event-auto-alert
  ></app-delete-event-auto-alert>
</div>

<!-- [currentPage]="currentPage" -->
