.list-header {
  font-size: 20px;
  padding: 24px 0 0 24px;
  height: auto;
  display: flex;
  padding-top: 64px;
  justify-content: space-between;

  h2, p {
    padding-top: 12px;
  }
  h2 {
  }
  p {
    margin: 8px 32px 8px 0;
    background-color: rgb(142, 208, 255);
    border-radius: 12px;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}
