<div class="example-button-row">
  <a routerLink="/order-management">
    <button
      mat-stroked-button
    >購入画面に進む</button>
  </a>
  <button
    mat-stroked-button
  >商品情報を編集する</button>
  <button
    mat-stroked-button
    (click)="deleteItem(item)"
  >この商品を削除する</button>
</div>

<a
  *ngIf="menuType == 'list-form'"
  class="back-page"
  routerLink="/list-form"
>
  <img
    src="https://icons.getbootstrap.com/assets/icons/back.svg"
    alt="back"
    width="20"
    height="20"
  >
  <span> back</span>
</a>
<a
  *ngIf="menuType == 'search-item'"
  class="back-page"
  routerLink="/search-item-form"
>
  <img
    src="https://icons.getbootstrap.com/assets/icons/back.svg"
    alt="back"
    width="20"
    height="20"
  >
  <span> back</span>
</a>
