<article>
  <div>
    <h2>{{item.name | titlecase}}</h2>
    <div *ngIf="item.register">
      <span
        (click)="item.isFavo = true"
        *ngIf="!item.isFavo"
      >☆</span>
      <span
        (click)="item.isFavo = false"
        *ngIf="item.isFavo"
      >★</span>
    </div>
  </div>
  <div>
    <div>
      <a routerLink="/list-form/{{item.id}}">
        <app-image
          [item]="item"
          [size]="190"
        >
        </app-image>
      </a>
    </div>
    <div>
      <h2>【商品について】</h2>
      <ul>
        <li>商品番号：0000{{item.id}}</li>
        <li>商品価格：{{item.price}}円</li>
        <li>在庫：残り<span class="count">{{item.count}}</span>個</li>
      </ul>

      <div class="example-button-row">
        <a routerLink="/list-form/{{item.id}}">
          <button mat-stroked-button>詳細</button>
        </a>
        <!-- 登録商品画面のみ削除ボタン実装 -->
        <button
          *ngIf="menuType == 'list-form'"
          (click)="deleteEvent(item)"
          mat-stroked-button
        >解除</button>
        <!-- 発注管理画面で商品の購入をするためのカウント -->
        <div
          *ngIf="menuType == 'order-management'"
          class="add-area"
        >
          <span>個数：　</span>
          <input
            type="number"
            placeholder="0"
            min="0"
            max={{item.count}}
            #count
          >
          <span
            (click)="submitItem(count.value); count.value = ''"
            class="add-button"
          >追加</span>
        </div>
      </div>
    </div>
  </div>

</article>
